<section class="wrong-url">
  <div class="logo">
    <img src="../../assets/images/page-1.png" alt="digi_logo">

  </div>
  <div class="container-fluid ">
    <div class="content">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 visible-xs">
          <div class="icon-waring">
            <img src="../../assets/images/waring.PNG" alt="">
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="title">
            Oops!
          </div>
          <div class="description">
            <p>We can’t seem to find the page you’re looking for.</p>
            <p>You have entered http://url.com.
              <br> Please check if you enter the URL correctly.</p>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 hidden-xs">
          <div class="icon-waring">
            <img src="../../assets/images/waring.PNG" alt="">
          </div>
        </div>
      </div>

    </div>

  </div>
</section>