.passcode-contain {
    max-width: 370px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 280px;
    @media(max-width: 480px) {
        margin-top: 45px
    }
    @media(max-width: 375px) {
        max-width: 270px;
    }
    .passcode-form {
        .label {
            font-size: 23px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #334659;
            padding: 0;
            font-family: 'Roboto-Regular';
        }
        .input {
            height: 56px;
            width: 100%;
            border-radius: 5px;
            background-color: #ffffff;
            border: solid 1px #979797;
            margin: 25px 0;
            margin-top: 15px;
            padding-left: 10px;
            @media(max-width: 375px) {
                margin-top: 10px;
            }
            &::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                padding-left: 16px;
                font-family: 'Roboto-Regular';
                font-size: 17px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #abb4bd;
            }
            &::-moz-placeholder {
                /* Firefox 19+ */
                padding-left: 16px;
                font-family: 'Roboto-Regular';
                font-size: 17px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #abb4bd;
            }
            &:-ms-input-placeholder {
                /* IE 10+ */
                padding-left: 16px;
                font-family: 'Roboto-Regular';
                font-size: 17px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #abb4bd;
            }
            &:-moz-placeholder {
                /* Firefox 18- */
                padding-left: 16px;
                font-family: 'Roboto-Regular';
                font-size: 17px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #abb4bd;
                ;
            }
        }
        .passcode-btn {
            text-align: right;
        }
        .btn-passcode {
            height: 56px;
            max-width: 130px;
            width: 100%;
            border-radius: 5px;
            background-color: #404040;
            color: #fff;
            font-family: 'Roboto-Regular';
            font-size: 17px;
            &:hover {
                background-color: #fff;
                border: 1px solid #404040;
                color: #404040;
            }
        }
    }
}

.loading_check {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 1; // opacity: 0;
    // z-index: -1;
    img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
}